
/*general styles*/
body {
  font-family: 'Raleway', sans-serif;
}

header::before, header::after,
section::before, section::after,
footer::before, footer::after {
	content: "";
	display: block;
	clear: both;
}

.main__width {
	width: 800px;
	margin: 0 auto;
  border:1px solid green;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 12px;
}

/*header style*/
body > header {
	width: 100%;
  border: 1px solid red;
  background-color: black;
  height: 50px;
  line-height: 50px;

}


header div {
  color: white;
  border: 1px solid red;
}

header div a {
  display: inline-block;
  color: white;
}

.header__logo {
  width: 200px;
  float:left;
}

/*menu*/
nav.header__main-nav {
  float: right;
}

nav a {
  color: white;
}

body nav ul li {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

nav > ul > li a:hover {
  border-bottom: 2px solid #24ba9f;
  padding-bottom: 15px;
}

.header__main-nav ul li a {
	line-height: 20px;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	color: white;
}

nav > ul ul > li {
  display: none;
}


/*section slider*/

.slider__image img {
  background-size: cover;
  border: 1px solid black;
  background-size: cover;
}

.slider__text p {
  border: 1px solid black;
  line-height: 500px;
}

.slider {
  height: 500px;
  background-color: white;
}
