
/*general styles*/
body {
  font-family: 'Raleway', sans-serif;
}

header::before, header::after,
section::before, section::after,
footer::before, footer::after {
	content: "";
	display: block;
	clear: both;
}

.main__width {
	width: 920px;
	margin: 0 auto;
  border:1px solid green;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 12px;
}

/*header style*/
body > header {
	width: 100%;
  border: 1px solid red;
  background-color: black;
  height: 50px;
  line-height: 50px;
}

header div {
  color: white;
  border: 1px solid red;
}

header div a {
  display: inline-block;
  color: white;
}

.header__logo {
  width: 200px;
  float:left;
}

/*menu*/
nav.header__main-nav {
  float: right;
}

nav a {
  color: white;
}

body nav ul li {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

nav > ul > li a:hover {
  border-bottom: 2px solid #24ba9f;
  padding-bottom: 15px;
}

.header__main-nav ul li a {
	line-height: 20px;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	color: white;
}

nav > ul ul > li {
  display: none;
}

/*section slider*/
.article-left {
  width: 50%;
}

.article-right {
  width: 50%;
}

.slider {
  height: 500px;
  background-color: lightgray;
}

.slider__image img {
  background-size: cover;
  border: 1px solid black;
  background-size: cover;
  margin-top: 100px;
}

div.slider__text {
border: 1px solid black;
margin-top: 100px;
padding-top: 50px;
padding-right: 50px;
text-align: center;

}

div.slider__text > h1 {
  padding-bottom: 25px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
div.slider__text h1 > span {
  color: blue;
}

div.slider__text p {
font-size: 18px;
}

div.slider__text div.button-slider {
  margin: 0 auto;
  margin-top: 25px;
  line-height: 50px;
  border-radius: 15px;
  background-color: lime;
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  font-size: 15px;

}

div.slider__text .button-slider a {
  color: white;
}

div.relative {
  position: relative;
}

div.arrow-left {
  position: absolute;
  font-size: 100px;
  color: red;
  top: 200px;
  left: 0px;
}

div.arrow-right {
  position: absolute;
  font-size: 100px;
  color: red;
  top: 200px;
  right: 0px;
}
