
/*-------------------general styles---------------------*/
/*CSS reset in external file*/
body {
  font-family: 'Raleway', sans-serif;
}

header::before, header::after,
section::before, section::after,
footer::before, footer::after {
	content: "";
	display: block;
	clear: both;
}

.main__width {
	width: 1000px;
	margin: 0 auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 12px;
}

/*color settings*/
.cyan {
  color: #24ba9f;
  font-weight: 700;
}

/*-------------------------header style--------------------*/
body > header {
	width: 100%;
  background-color: black;
  height: 50px;
  line-height: 50px;
}

header div {
  color: white;
  /*border: 1px solid red;*/
}

header div a {
  display: inline-block;
  color: white;
  font-weight: 700;
}

.header__logo {
  width: 200px;
  float:left;
}

/*-----------------------menu--------------------------*/
nav.header__main-nav {
  float: right;
  position: relative;
}

body nav ul li {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

nav > ul > li a:hover {
/*wymislic jakis fajny hover do linkow*/
  /*border-bottom: 2px solid #24ba9f;*/
}

.header__main-nav li:hover ul.submenu {
  display: block;
}

.header__main-nav ul li a {
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	color: white;
}

/*-------------------submenu-------------------------*/
ul.submenu {
  display: none;
  position: absolute;
  width: 150px;
  /*border: 1px solid red;*/
  margin-top: 5px;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu li a {
  text-decoration: none;
  /*border: 1px solid red;*/
  width: 100px;
  height: 30px;
  color: black;
  line-height: 30px;
  text-decoration: none;
  display: block;
}

/*---------------section slider--------------*/
.article-left {
  width: 40%;
}

.article-right {
  width: 50%;
}

/*dodac gradient*/
.slider {
  height: 500px;
  background: rgba(255,255,255,0.05);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.58) 56%, rgba(250,250,250,0.78) 77%, rgba(218,216,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.05)), color-stop(56%, rgba(255,255,255,0.58)), color-stop(77%, rgba(250,250,250,0.78)), color-stop(100%, rgba(218,216,216,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.58) 56%, rgba(250,250,250,0.78) 77%, rgba(218,216,216,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.58) 56%, rgba(250,250,250,0.78) 77%, rgba(218,216,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.58) 56%, rgba(250,250,250,0.78) 77%, rgba(218,216,216,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.58) 56%, rgba(250,250,250,0.78) 77%, rgba(218,216,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dad8d8', GradientType=0 );
}

section.slider div .slider__image {
  margin-top: 100px;
  width: 450px;
  height: 400px;
  background-image: url("../images/black_chair.png");
  background-size: cover;
  background-position: -20px;
  background-repeat: no-repeat;
}

div.slider__text {
margin-top: 100px;
padding-top: 70px;
padding-right: 70px;
text-align: center;
}

div.slider__text > h1 {
  padding-bottom: 30px;
  color: black;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

div.slider__text > h1 > span {
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

div.slider__text p {
font-size: 15px;
line-height: 1.7em;
padding-bottom: 15px;
}

div.slider__text div.button-slider {
  margin: 0 auto;
  border-radius: 8px;
  background-color: #24ba9f;
  line-height: 40px;
  height: 40px;
  width: 220px;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.1em;
}

div.slider__text .button-slider a {
  color: white;
}

div.relative {
  position: relative;
}

div.arrow-left span{
  position: absolute;
  font-weight: 200;
  font-size: 85px;
  top: 200px;
  left: 0px;
  color: #24ba9f;
}

div.arrow-right span{
  position: absolute;
  font-weight: 200;
  font-size: 85px;
  color: red;
  top: 200px;
  right: 0px;
  color: #24ba9f;
}


/*--------------section product---------------*/
.products {
  height: 350px;
  /*border: 1px solid red;*/
}

section.products div.main__width {
  /*border: 1px solid red;*/
  height: 350px;
}

.products__small-box {
  position: relative;
  height: 230px;
  margin-top: 30px;
  width: 31%;
  /*border: 1px solid red;*/
  float: left;
}

p.products__title {
  font-size: 15px;
  font-weight: 700;
}

div.products__transparent {
  position: absolute;
  top: 150px;
  left: 0;
  margin: 0 auto;
  width: 310px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  /*border: 1px solid red;*/
}

.middle {
  margin-left:34px;
  margin-right: 34px;
}

div.product__1 {
  background: transparent url("../images/box1_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div.product__2 {
  background: transparent url("../images/box2_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.products__border {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

div.textunderline {
  margin-left: -5px;
  /*border: 1px solid red;*/
  width: 140px;
  height: 7px;
  background-color: #24ba9f;
}

section.products div div p {
  /*border: 1px solid red;*/
  margin-top: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/*-----------------section offer--------------*/

.offer {
  height: 720px;
  /*border: 1px solid red;*/
  background-color: rgb(241, 241, 241);
}

section.offer div.main__width {
  height: 720px;
  padding: 60px 0;
  /*border: 1px solid red;*/
}

.offer__header {
  height: 100px;
  /*border: 1px solid red;*/
}

div.offer__header p{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.green-underline-long {
  margin-left: 0;
  /*border: 1px solid red;*/
  width: 310px;
  height: 7px;
  background-color: #24ba9f;
}

.offer__wrapper {
  height: 550px;
  /*border: 1px solid red;*/
}

/*#24ba9f - color cyan*/
/*box na oferty*/

.price {
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    height: 500px;
    width: 31%;
    margin-right: 30px;
    padding-top: 30px;
    text-align: center;
}

.price__last {
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    height: 500px;
    width: 31%;
    text-align: center;
    padding-top: 30px;
}

section h2 {
  color: #24ba9f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}


/*circle for price boxes*/
.offer__circletop {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #d5d5d5;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  background-color: #f9f9f9;
}

.offer__innercircletop {
  position: absolute;
  top: -22px;
  left: 0px;
  right: 0;
  margin: auto auto;
  border: 0px solid #d5d5d5;
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  float: left;
  background-color: #c2c2c2;
}

.offer__circleprice {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #d5d5d5;
  display: block;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  float: left;
  background-color: #f9f9f9;
  padding-top: 20px;
}

/*---------------price box text style-----------*/

section div.offer__circleprice div p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #c2c2c2;
    margin-top: 0;
}

.offer__price_big {
    font-size: 45px;
    font-weight: 700;
    color: #c2c2c2;
}

.offer__price_small {
    font-size: 15px;
    font-weight: 700;
    vertical-align: top;
    color: #c2c2c2;
}
.offer__menu {
    padding-top: 180px;
}

section.offer div.offer__menu ul li {
    color: #b7b7b7;
    font-size: 20px;
    list-style-type: none;

}

.offer__darken {
    width: 100%;
    background-color: #e4e4e4;
    line-height: 43px;
    color: #939393;
}

.offer__lighten {
    width: 100%;
    background-color: #f1f1f1;
    line-height: 43px;
    color: #787878;
}

.offer__button {
    margin: 0 auto;
    margin-top: 120px;
    width: 122px;
    height: 35px;
    line-height: 35px;
    background-color: #24ba9f;
    border-radius: 9px;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    /*padding: 10px;*/
}



/*-----------------section contact--------------*/
.contact {
  height: 550px;
  /*border: 1px solid red;*/
}

section.contact div.main__width {
  height: 550px;
  padding: 60px 0;
  /*border: 1px solid red;*/
}

.form-left {
    width: 65%;
    float: left;
}

.form-left-data {
    width: 630px;
    height: 65px;
    border: 1px solid #24ba9f;
    margin-bottom: 10px;
    font-family: 'Raleway';
    margin-top: 15px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
}

.form-left-message {
    width: 630px;
    height: 192px;
    border: 1px solid #24ba9f;
    padding-left: 15px;
    margin-top: 15px;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
}

.form-right {
    float: right;
    width: 35%;
    padding-left: 10px;
}

div.image img {
    height: 180px;
    padding-left: 50px;
}

.button-contact {
    font-family: 'Raleway';
    margin-top: 25px;
    width: 340px;
    height: 70px;
    background-color: #24ba9f;
    border-radius: 13px;
    box-shadow: none;
    color: white;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    padding-top: 18px;
}

.checkbox01 {
    position: relative;
    padding: 30px 0;
}

div.checkbox01 input {
    position: absolute;
    height: 48px;
    width: 48px;
    display: block;
    cursor: pointer;
    opacity: 0;
}

div.checkbox01 label {
    position: relative;
    display: block;
    padding-left: 65px;
    font-size: 16px;
    color: #b7b7b7;
    font-size: 18px;
    line-height: 120%;
    padding-top: 5px;
    cursor: pointer;
}

div.checkbox01 label::before, div.checkbox01 label::after {
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    border: 1px solid #24ba9f;
    content: "";
    display: block;
}

div.checkbox01 label::after {
    background: url("../images/form_ok.jpg") no-repeat center;
    border: 0;
    display: none;
}

div.checkbox01 input:checked + label::after {
  display: block;
}

/*-----------------section footer--------------*/
footer {
    height: 120px;
    /*border: 1px solid red;*/
    vertical-align: bottom;
}

footer div.main__width {
    height: 110px;
    /*border: 1px solid red;*/
}

.footer__right {
    float: left;
    width: 65%;
    display: block;
    font-family: 'Raleway';
    padding-top: 80px;
    color: #b7b7b7;
}

.footer__left {
    float: right;
    width: 35%;
    display: block;
    font-family: 'Raleway';
    padding-left: 10px;
    padding-top: 70px;
    color: #b7b7b7;
}

.social {
    display: block;
}

.logo p {
    float: right;
    padding-top: 5px;
    display: block;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b7b7b7;
}

.logo span {
    font-weight: 700;
}
